name: âœ
run-name: 'Report for ${{ inputs.run_id }}'
on:
  workflow_call:
    inputs:
      run_id:
        description: 'Target Run'
        required: true
        type: string
  workflow_dispatch:
    inputs:
      run_id:
        description: 'Target Run'
        required: true
        type: string

jobs:
  report:
    runs-on: ubuntu-24.04
    steps:
      - uses: cachix/install-nix-action@7ab6e7fd29da88e74b1e314a4ae9ac6b5cda3801 # v31.8.0
      - uses: actions/checkout@v5
      - name: Generate report
        env:
          GH_TOKEN: '${{ github.token }}'
        run: |
          nix run .#resume -- '${{ inputs.run_id }}' >> "$GITHUB_STEP_SUMMARY"
