name: âœ
run-name: 'Report for ${{ inputs.run_id }}'
on:
  workflow_call:
    inputs:
      run_id:
        description: 'Target Run'
        required: true
        type: string
  workflow_dispatch:
    inputs:
      run_id:
        description: 'Target Run'
        required: true
        type: string

jobs:
  report:
    runs-on: ubuntu-24.04
    steps:
      - uses: cachix/install-nix-action@fd24c48048070c1be9acd18c9d369a83f0fe94d7 # v31.8.1
      - uses: actions/checkout@v5
      - name: Generate report
        env:
          GH_TOKEN: '${{ github.token }}'
        run: |
          nix run .#resume -- '${{ inputs.run_id }}' >> "$GITHUB_STEP_SUMMARY"
